*{
    font-size: 1rem;
    box-sizing: border-box;
}

h1 {
   position:initial;
    left: 1000px;
    font-family:궁서;
}

li {
    list-style: none;
}
.food ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:20px;
}