@font-face{
    font-family: speedeek;
    src:url("../css/font/Speedee_K_L.woff");
}
@font-face{
    font-family: speedeek;
    src: url("../css/font/Speedee_K_B.woff");
}
@font-face{
    font-family: speedeek;
    src:url("../css/font/Speedee_K_R.woff");
}
:root {
    font-size: 10px;
}
body {
    font-family: speedeek;
    font-weight: 700;
}
header{
 background-color: #fff;
}
header .headerWrpper {
    display: flex;
    align-items: center; /*세로 가운데 설정*/
    justify-content: space-between; /*메뉴 가운데*/
    width: 1168px;
    height: 140px;
    margin: 0 auto;

    /* background-color: #ccc; */
}
#gnbList {
    display: flex;
}
#gnbList .depth01 {
    margin-right: 85px;
    font-size: 2em;
}
.util {
    display: flex;
}

.util .utilList {
    display: flex;
}
.util .utilList li {
    width:80px;
    /* padding: 10px 0; */
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 48px;
    color: white;

    /* border: 1px solid black; */
}
.util .utilList li:nth-of-type(1){
    background-color: #db0007;
}
.util .utilList li:nth-of-type(2){
    margin: 0 4px;
    background-color: #d87e00;
}
.util .utilList li:nth-of-type(3){
    background-color: #264a36
}
.util .btnSerch{
    margin-left: 20px;
    cursor: pointer; /*마우스가 호버 됬을때 손가락 모양*/
}
#banner {
    position: absolute;
}

#banner .SlideList li img { 
    width: 100%;
}
#banner .btnSlide .btn {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: url("../css/assets/images/bg_swiper_new.png") no-repeat;
    cursor: pointer;
     /* border-top-right-radius: 25px; 
     border-bottom-right-radius: 25px; */
    border: 1px solid black;
}

#banner .btnSlide .btn.prev {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}  
#banner .btnSlide .btn.next {
    background: url("../css/assets/images/bg_swiper_new.png") 0 -90px no-repeat;
    background-position-y: -90px;
    right: 0;
}
#banner .controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#banner .controls .btnplay {
    width: 36px;
    height: 36px;
    top:50%;
    background-color: black;
    margin-right: 20px;
    background: url("../css/assets/images/bg_swiper_new.png") -92px 0;
    cursor: pointer;
}

#banner .controls .statusBar {
    width: 200px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}
#banner .controls .btnplay:hover {
    background-position-y: -36px;
}